.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.playersBigBox{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.playerBox{
  border: 1px solid black;

  margin: 5vh 1vw;
  padding: 1vh 1vw;

  width: 200px;
}

.bold{
  font-weight: 700;
}

.italic{
  font-style: italic;
}




.dark-mode{
  background: #313843;
  color: #f68819;
}




.darkModeToggle{
  cursor: pointer;

  border: 1px solid black;
  border-radius: 5px;

  color: white;
  background: black;

  width: 100px;

  margin: 0 auto;
  padding: 1vh 1vw;
}

.darkModeToggle:hover{
  color: black;
  background-color: white;
}